before_script:
  - cd java-spring-boot
stages:
  - build
  - push

variables:
  # Docker Hub image: username/repo
  DOCKER_IMAGE: "burakistanbullu/gitlab-deneme"
  DOCKER_TAG: "v1.0.0"
build_and_push:
  stage: push
  tags:
    - ec2
  script:
    # Docker Hub login (username + password)
    - docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_PASSWORD"

    # Image build
    - docker build -t "$DOCKER_IMAGE:$DOCKER_TAG" -t "$DOCKER_IMAGE:latest" .

    # Push
    - docker push "$DOCKER_IMAGE:$DOCKER_TAG"
    - docker push "$DOCKER_IMAGE:latest"
  only:
    - main
